.dashboard .dashboard-container {
    width: 90%;
    margin: 0 auto;
}
.dashboard .text-main-dashboard {
    font-size: 16px;
    text-align: right;
    margin-top: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
}