
.container-form-register-movie {
    width: 40%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.container-form-register-movie .form {
    background-color: #fff;
    padding: 40px;
    box-shadow: 0 0 1em #ddd;
}

.container-form-register-movie .form .btn-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}