.container-card {
    display: flex; 
    flex-direction: column;
}

.container-card .card {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
    box-shadow: 0 0 1em #ddd;
}

.container-card .card .image-card {
    width: 100%;
}

.container-card .card .title-card {
    padding: 20px;
    text-align: center;
}
.container-card .card .resume-card {
    padding: 20px;
    text-align: center;
}
.container-buttons {
    margin: 0 auto;
    margin-bottom: 30px;
}
.container-buttons .button {
    margin: 10px;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
}
.container-buttons .button:nth-child(1) {
    background-color: #2980b9;
}
.container-buttons .button:nth-child(2) {
    background-color: #27ae60;
}
.container-buttons .button:nth-child(3) {
    background-color: #c0392b;
}

@media(min-width: 750px) {
    .container-card {
        display: grid;
        grid-template-columns: 33.3% 33.3% 33.3%; 
    }
    .container-card .card {
        margin: 30px;
    }
    .container-buttons {
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .container-buttons .button {
        margin: 10px;
        padding: 10px;
        color: #fff;
        border-radius: 5px;
        font-size: 16px;
    }
    .container-buttons .button:nth-child(1) {
        background-color: #2980b9;
    }
    .container-buttons .button:nth-child(2) {
        background-color: #27ae60;
    }
    .container-buttons .button:nth-child(3) {
        background-color: #c0392b;
    }
    
}