
.container-form-register-new-movie {
    margin: 0 auto;
    width: 90%;
}
.container-form-register-movie {
    margin:0 auto;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.container-form-register-movie .form {
    background-color: #fff;
    padding: 40px;
    box-shadow: 0 0 1em #ddd;
}

.container-form-register-movie .form .btn-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.file-input {
    word-wrap: break-word;
}

.btn-form .btn-save-movie {
    background-color:#2980b9 !important;
}

@media(min-width: 750px) {
    .container-form-register-movie {
        width: 40%;
        margin-top: 40px;
        margin-bottom: 40px;
    }
}