.container-wrapper {
    margin: 0 auto;
    width: 90%;

}

.container-form-register {
    width: 100%;
    margin: 0 auto;
}

.container-form-register .form {
    background-color: #fff;
    padding: 40px;
    box-shadow: 0 0 1em #ddd;
}

.container-form-register .form .btn-form {
    display: grid;
}
.container-form-register .form .btn-form .link-login {
    margin-top: 20px;
    text-align: center;
}

@media(min-width: 750px) {    
    .container-form-register {
        width: 40%;
    }
        
    .container-form-register .form .btn-form {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .container-form-register .form .btn-form .link-login {
        margin-top: 0;
    }
}