
.container-form-register {
    width: 40%;
}

.container-form-register .form {
    background-color: #fff;
    padding: 40px;
    box-shadow: 0 0 1em #ddd;
}

.container-form-register .form .btn-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}